<footer class="footer menu">

  <div class="menu__center">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="#" class="menu__link white">Home</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Shop</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Account</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Pages</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Blog</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Docs/Components</a>
      </li>
    </ul>
  </div>

</footer>
